---
let today = new Date();
---

<footer>
  <h3>Parlier Technology Club | {today.getFullYear()}</h3>
</footer>

<style>
  footer {
    background-color: rgb(0, 0, 64);
    color: white;
    font-family: "Orbitron";

    display: grid;

    grid-template-rows: 2fr 1.5fr;
    align-items: center;
    height: 4em;

    padding-left: 2em;
  }
</style>
