@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body{
    margin:0;
}