---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div>
    <hr />
    <h1>Parlier Technology Club</h1>
    <hr />
  </div>
  <div>Members: 4 On-Going Projects: 1 Finished Projects: 2</div>
  <div>
    <h4>About Us</h4>
    <p>
      The Club was made from a small groups of programmers. We drink a lot of
      caffine and do what we do because we like it. lol
    </p>
  </div>
  <div>
    <a href="hack.club/join/LCXYTD">
		<button> Join Today !</button>
	</a>
  </div>
</Layout>
