---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Hack Club Resources">
  <h2>Required</h2>
  <hr />
  <a href="https://auth.hackclub.com/">Hack Club Auth</a> - Create a authentication
  account for hackclub (!required!)
  <br />
  <a href="https://hack.club/join/LCXYTD">Hack Club Invite Link</a> - Link to our
  hack club group
  <br />
  <a href="https://hackatime.hackclub.com/">Hackatime</a> - Log your hours
  <br />
  <h2>Projects</h2>
  <hr />
  <a href="https://leaders.hackclub.com/">Hack Club Leaders Portal</a> - Club Management
  + Projects Series
  <br />
  <a href="https://ysws.hackclub.com/">Hack Club YSWS</a> - "You Ship We Ship" Programs
  from hack club. Build somethings for awards!
  <br />
  <h2>Extra(s)</h2>
  <hr />
  <a href="https://github.com/Parlier-Technology-Club">Github</a> - Our Github
  <h2>???</h2>
  <hr />
  <a href="https://youtu.be/wRl_8bCeJLc?si=DpRFduiIucW5NyYz&t=165"
    >https://youtu.be/wRl_8bCeJLc?si=DpRFduiIucW5NyYz&t=165</a
  >
</Layout>
